<h4>Listado</h4>

<!-- cosas a tener en cuenta :
- 'i+1' representa el la posición actual del indice, debido a que los indices parten en 0 por convencion comun
- count corresponde a la cantidad total de elementos dentro del 'ngFor'
-->

<ul class="list-group"  >
  <li *ngFor="
    let character of characterLists;
    let i = index;
    let isFirst = first;
    let isLast = last;
    let isEven = even;
    let isOdd = odd;
    let isCount = count;"

      class="list-group-item d-flex justify-content-between align-items-center"
      [ngClass]="{'list-group-item-dark': isLast,
                'list-group-item-primary': isOdd,
                's':isEven,
                }">
      <div>
        <span class="text-primary"> {{ i + 1 }}. </span>
        <span> {{character.name}} -</span>
        <strong> Power: {{character.power}}.</strong>
      </div>

      <button class="btn btn-danger" (click)="onDeleteCharacter(character.id!)"> X </button>

  </li>

</ul>
